.center {
    margin: 10px;
}

.song {
    display: inline-block;
    margin: 5px;
}

body {
    background-image: "imgs/collage.jpg";
    background-color: rgb(252, 214, 221);
}

c-player .cp-drop-down-menu.cp-drop-down-menu-bottom {
    background-color: #111122;
}

.cp-list-icon path {
    fill: pink !important;
}

.cp-volume-icon path {
    fill: greenyellow !important;
}

.cp-controls {
    transition:none !important;
    opacity:1 !important;
}

.cp-lyric {
    display:none !important;
}

.cp-play-icon{
    margin-left:10px !important;
}

.cp-play-icon.cp-play-icon-paused{
    margin-left:10px !important;
}

.cp-play-icon{
    margin-left:8px !important;
}